.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1f293a;
  }
  
  .login-animation {
    position: relative;
    width: 100%;
    height: 100vh; /* ან მშობელი ელემენტის სიმაღლე */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-animation span {
    margin-left: -202px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 80px;
    transform: translate(-50%, -50%) rotate(0deg); /* ცენტრში მოთავსება + საჭირო როტაცია */
    transform-origin: 200px;
    animation: blink 3s linear infinite;
  }
  
  @keyframes blink {
    0% {
      background: #0ef;
    }
    25% {
      background: #2c4766;
    }
  }
  